openapi: 3.0.0
info:
  title: StressGuard API
  version: 1.0.0
  description: |
    API для мобильного приложения StressGuard – трекера стресса и мотивации.

    **Обоснование выбора максимизированных моделей (вместо allOf/oneOf):**
    В спецификации использованы максимизированные модели (все поля перечислены явно), а не полиморфные конструкции allOf/oneOf. Причины:
    1. Все сущности (UserProfile, DailyEntryRequest, Recommendation, Instruction) имеют фиксированный набор полей, не предполагают вариантов или наследования.
    2. Поле sleep в DailyEntryRequest опционально, что решается через required: false без необходимости вводить oneOf.
    3. Максимизированные модели проще для чтения и генерации клиентского кода, что важно для учебного проекта.
    4. Отсутствуют общие поля, которые требовали бы композиции через allOf.
    Выбор соответствует принципу KISS и уровню зрелости 2 (Richardson).

servers:
  - url: https://api.stressguard.com/v1
    description: Production server

security:
  - apiKeyAuth: []

components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API ключ для аутентификации. В учебном проекте используется статический ключ.
        Обоснование: для MVP достаточно простой аутентификации, не требуется OAuth2 или JWT.

  parameters:
    userIdParam:
      name: userId
      in: path
      required: true
      schema:
        type: string
      description: Уникальный идентификатор пользователя
    userTypeQuery:
      name: userType
      in: query
      required: true
      schema:
        type: string
        enum: [student, employee]
      description: Тип пользователя для получения инструкции

  schemas:
    UserProfile:
      type: object
      description: Профиль пользователя – все переменные процесса
      properties:
        userId:
          type: string
        userType:
          type: string
          enum: [student, employee]
        currentEntries:
          type: integer
          description: Количество засчитанных входов в текущем периоде
        goalEntries:
          type: integer
          description: Целевое количество входов (50 для студента, 80 для сотрудника)
        daysLeft:
          type: integer
          description: Оставшихся дней до окончания периода
        stressIndex:
          type: integer
          minimum: 0
          maximum: 100
          description: Текущий стресс-индекс
        fitPermission:
          type: boolean
        calendarPermission:
          type: boolean
        moodEntered:
          type: boolean
        fatigueEntered:
          type: boolean
        sleepEntered:
          type: boolean
        ratingGiven:
          type: boolean
        fitDataAvailable:
          type: boolean
        calendarDataAvailable:
          type: boolean
        points:
          type: integer
        goalAchieved:
          type: boolean

    DailyEntryRequest:
      type: object
      description: Запрос на создание дневной записи. Флаги ввода не передаются, бэкенд выставляет их по факту наличия полей.
      required:
        - userId
        - timestamp
        - mood
        - fatigue
      properties:
        userId:
          type: string
        timestamp:
          type: string
          format: date-time
        mood:
          type: object
          properties:
            value:
              type: integer
              minimum: 1
              maximum: 5
            reason:
              type: string
              description: Причина, если value <= 2
        fatigue:
          type: object
          properties:
            value:
              type: integer
              minimum: 1
              maximum: 5
        sleep:
          type: object
          description: Опционально – может отсутствовать, если пользователь не заполнил сон
          properties:
            quality:
              type: string
              enum: [calm, restless]
            duration:
              type: string
              enum: [less_8h, 8h, more_8h]
            latency:
              type: string
              enum: [fast, slow]

    Recommendation:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        category:
          type: string
          enum: [movement, breathing, rest, planning, communication]

    Instruction:
      type: object
      description: Инструкция для разных типов пользователей
      properties:
        student:
          type: object
          properties:
            bonusRule:
              type: string
            howToUse:
              type: string
        employee:
          type: object
          properties:
            bonusRule:
              type: string
            howToUse:
              type: string

paths:
  /profile/{userId}:
    get:
      summary: Получить профиль пользователя
      parameters:
        - $ref: '#/components/parameters/userIdParam'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '404':
          description: Пользователь не найден
    patch:
      summary: Обновить профиль (установить ratingGiven)
      parameters:
        - $ref: '#/components/parameters/userIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ratingGiven:
                  type: boolean
              required:
                - ratingGiven
      responses:
        '200':
          description: Обновлённый профиль
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '404':
          description: Пользователь не найден

  /daily-entry:
    post:
      summary: Отправить дневную запись (настроение, усталость, сон)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DailyEntryRequest'
      responses:
        '200':
          description: Успешно, возвращает обновлённый профиль и рекомендации
          content:
            application/json:
              schema:
                type: object
                properties:
                  userProfile:
                    $ref: '#/components/schemas/UserProfile'
                  recommendations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Recommendation'
        '409':
          description: Конфликт – запись за сегодня уже существует
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Daily entry already exists for today"

  /instruction:
    get:
      summary: Получить инструкцию для пользователя
      parameters:
        - $ref: '#/components/parameters/userTypeQuery'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instruction'

